In [17]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [2]:
new_machine=[42.1,41,41.3,41.8,42.4,42.8,43.2,42.3,41.8,42.7]
old_machine=[42.7,43.6,43.8,43.3,42.5,43.5,43.1,41.7,44,44.1]

data=pd.DataFrame(columns=['new_machine','old_machine'])
data['new_machine']=new_machine
data['old_machine']=old_machine

In [3]:
data

   new_machine  old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

**H0:** The mean packing time of the new machine is equal to or worse than the current machine.


**Ha:** The mean packing time of the new machine is significantly faster than the current machine.

Calculate the number of samples, means and standard deviations for each machine:

In [33]:
data_info=data.describe().head(3)
data_info

       new_machine  old_machine
count    10.000000    10.000000
mean     42.140000    43.230000
std       0.683455     0.749889

In [34]:
n_1=data_info['new_machine'][0]
n_2=data_info['old_machine'][0]
x_bar_1=data_info['new_machine'][1]
x_bar_2=data_info['old_machine'][1]
s_1=data_info['new_machine'][2]
s_2=data_info['old_machine'][2]

Pooled standard deviation:

In [35]:
s_p=np.sqrt((((n_1-1)*(s_1**2))+((n_2-1)*(s_2**2)))/(n_1+n_2-2))
s_p

0.7174414416676962

Calculate the t-value:

In [37]:
t=(x_bar_1-x_bar_2)/(s_p*np.sqrt(2/10)) 
round(t,3)

-3.397

critical t-value for a one-tailed test with 9 degrees of freedom:

In [39]:
t_c=stats.t.ppf(0.95, 9)
round(t_c,3)

1.833

Since our calculated **t-value: -3.397** is less than the **critical t-value: 1.833**, we can reject the null hypothesis.

**This means that there is sufficient evidence to show that the new machine packs cartons faster on average than the old machine.**